.black {
    background-color: black;
}
.white{
    background-color: white;
    border: 1px solid #000;
    
}

.white-letter {
    background-color:white;
    text-align: center;
}
.white-l{
    background-color: white;
}
td {
    width: 70px;
    height: 70px;
    
}
table{
    border: 1px solid black;
}